Repository nextrequest/configs: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check {staged_files}

chore(release): publish
  packages/commitlint-config/CHANGELOG.md
  packages/commitlint-config/package-lock.json
  packages/commitlint-config/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package-lock.json
  packages/eslint-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package-lock.json
  packages/prettier-config/package.json
Due: none

chore: ignore package-lock.json files
  lerna.json
  packages/commitlint-config/package-lock.json
  packages/eslint-config/package-lock.json
  packages/prettier-config/package-lock.json
Due: none

chore(release): publish
  packages/commitlint-config/CHANGELOG.md
  packages/commitlint-config/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: none

feat(rubocop-config): init
  packages/rubocop-config/README.md
  packages/rubocop-config/package.json
  packages/rubocop-config/rubocop.yml
Due: prettier

chore(release): publish
  packages/rubocop-config/CHANGELOG.md
  packages/rubocop-config/package.json
Due: none

fix: explicitly set file extension when importing
  .eslintrc.js
  .prettierrc.js
  package-lock.json
  package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/prettier-config/index.js
  packages/prettier-config/package.json
Due: eslint, prettier

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: none

fix(eslint-config): add prettier plugin
  package-lock.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
Due: eslint, prettier

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: none

fix(eslint-config): move deps into peerDeps
  packages/eslint-config/package.json
Due: none

feat(eslint-config): adjust no-used-vars to use @ts-eslint rule
  packages/eslint-config/index.js
Due: eslint, prettier

chore(release): publish
  package-lock.json
  packages/eslint-config/package.json
Due: none

feat(eslint-config): vue3 compatibility upgrade
  packages/eslint-config/package.json
Due: none

feat(eslint-config): eslint vue3 compatibility upgrade
  packages/eslint-config/package.json
Due: none

feat(eslint-config): eslint 8.50.0 vue3 compatibility upgrade
  package-lock.json
  package.json
Due: none

chore(release): publish
  package-lock.json
  packages/commitlint-config/package.json
Due: none

feat(prettier-config): upgrade prettier to version 3.0.3
  packages/prettier-config/package.json
Due: none

chore(release): publish
  package-lock.json
  packages/prettier-config/package.json
Due: none

fix: remove strict typescript version
  packages/typescript-config/package.json
Due: none

fix: remove strict typescript version (#1)
  packages/typescript-config/package.json
Due: none

chore(release): publish
  packages/typescript-config/package.json
Due: none

chore(README): create README.md on how to use and update the preset configs
  README.md
Due: none

fix: remove extra spacing
  README.md
Due: none

chore: update README
  README.md
Due: none

chore: update README.md
  README.md
Due: none

chore(release): publish (#2)
  README.md
  packages/typescript-config/package.json
Due: none

feat!: enforce that interface names do not begin with an I
  packages/eslint-config/index.js
Due: eslint, prettier

feat!: enforce that interface names do not begin with an I (#4)
  packages/eslint-config/index.js
Due: eslint, prettier

chore(release): publish
  packages/eslint-config/package.json
  packages/typescript-config/package.json
Due: none

Path conditions:
  eslint: any of: *.{js,ts}
  prettier: any of: *.{js,ts,yml,yaml}
